# install these packages using:
# pip3 install -r requirements.txt
###### Requirements without Version Specifiers ######`
opencv-contrib-python  # open cv - for image processing
numpy                  # numpy - for matrix operations

